.Event {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
}

.Event figure,
h5 {
    margin: 0 0;
}

.EventImage {
    width: 100%;
    height: auto;
    margin: 0 auto;

}

.DetailImage {
    width: 300px;
    height: 300px;
    object-fit: cover;
}


.DetailPageImage {
    max-width: 400px;
}

.Text {
    margin-left: 8px;
}

.OwnerName {
    font-weight: bold;
    color: #855DCD;
}

.OwnerName:hover {
    color: #855DCD;
    text-decoration: underline;
}