.Event {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
}

.Event figure,
h5 {
    margin: 0 0;
}

.EventImage {
    width: 180px;
    margin: 8px;
}

.DetailImage {
    width: 100%;
    height: auto;
    max-height: 300px;

}

.DetailPageImage {
    max-height: 500px;
}

.Text {
    margin-left: 8px;
}

.OwnerName {
    font-weight: bold;
    color: #855DCD;
}

.OwnerName:hover {
    color: #855DCD;
    text-decoration: underline;
}