.container {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    text-align: center;
    color: #855DCD;
}

.headline {
    font-size: 48px;
    font-weight: 64px;
    margin-bottom: 24px;
}


.subtitle {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 30px;
}

.paragraph {
    border: 8px solid 16px;
    padding: 0 16px;
    line-height: 24px;
    text-align: justify;
    flex: 1;
    font-size: 18px;
}