.EditForm {
    display: flex;
    flex-direction: column;
}

.FormInput {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
}

.Button {
    background-color: #3854bd; 
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ButtonCancel {
    background-color: #104db2; 
}

.Button:hover {
    background-color: #242a3d; 
}

.ButtonCancel:hover {
    background-color: #C36BE4; 
}
