.Form {
    margin-top: 15px;
}

.FormInput {
    width: 100%;
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
}

.Button {
    margin-top: 10px;
    background-color: #855DCD; 
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Button:disabled {
    background-color: #e3e3e3; 
    cursor: not-allowed;
}

.Button:hover:not(:disabled) {
    background-color: #C36BE4; 
}
