.Message {
  padding: 10px;
  border-bottom: 1px solid #e3e3e3;
  background-color: #f5f5f5; 
}

.Media {
  display: flex;
  align-items: flex-start;
}

.Sender {
  font-weight: bold;
  color: #104db2;
}

.Date {
  font-size: 0.8rem;
  color: #3854bd; 
}

button {
  margin: 0 5px;
  background-color: #855DCD;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #C36BE4;
}
