.NavBar {
  border: 1px solid #e3e3e3;
  background-color: #855DCD;
  color: #e3e3e3;
}

.NavLink {
  padding: 5px;
  color: #e3e3e3;
  text-decoration: none;
  transition: color ease-in-out 0.3s;
}

.NavLink:hover {
  color: #3854bd;
}

.NavLink.active {
  color: #3854bd;
}

.NavLink i {
  color: #e3e3e3;
  font-size: 1rem;
  padding: 7px;
  vertical-align: middle;
}

.NavLink:hover i {
  color: #3854bd;
}

.NavLink .messagesButton {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
}

.NavLink .messagesButton:hover {
  background-color: #0056b3;
}


.Active i {
  color: #3854bd;
}