.App {
    font-family: "Montserrat", sans-serif;
    background-color: #e3e3e3;
    min-height: 100vh;
}


.Main {
    padding-top: 81px;
}
* {
    box-sizing: border-box;
  }
  
  a {
    color: #855DCD; 
    transition: color ease-in-out 0.3s;
  }
  
  a:hover {
    color: #104db2; 
    text-decoration: none;
  }
  
  a:hover i {
    color:  #104db2;
    transition: color ease-in-out 0.3s;
  }
  
  i {
    color:  #855DCD;
    font-size: 1rem;
    padding: 7px;
    vertical-align: middle;
  }
  
  i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color:  #104db2;
  }

  .NavBar {
    color: #855DCD;
  }

  .Content {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
  }